# Dependencies
node_modules/

# Environment files
.env
.env.*

# Firebase Secrets
serviceAccountKey.json
backend/serviceAccountKey.json
google-services.json
GoogleService-Info.plist

# Expo
.expo/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store